.menuWide {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 16px;
    width: 100%;
    border-radius: 12px;
    background-color: var(--bgAccent);
    min-width: max-content;
    max-width: 296px;
}

.menuNarrow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--bgAccent);
    padding: 16px;
    border-radius: 12px;
}

.item {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    color: var(--secondary);
    flex-grow: 1;

    /* order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: flex-start; */
}

.item:hover {
    background-color: var(--outlineStrong);
    cursor: pointer;
}

.itemActive {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    color: var(--accent);
    flex-grow: 1;

    /* order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: flex-start; */
}

.itemActive:hover {
    background-color: var(--accentFiller);
    cursor: pointer;
}