.titleCell {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: var(--bgAccent);
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
}

.titleRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 36px;
    white-space: nowrap;
}

.smallText {
    width: 12.5%;
    padding: 12px;
    align-items: center;
    padding-left: 12px;
    color: var(--secondary);
    white-space: nowrap;
}

.mediumText {
    width: 25%;
    padding: 12px;
    align-items: center;
    padding-left: 12px;
    color: var(--secondary);
    white-space: nowrap;
}

.vseparator {
    height: 100%;
    width: 2px;
    background-color: var(--outlineStrong);
}

.hseparator {
    height: 2px;
    width: 100%;
    background-color: var(--outlineStrong);
}

