* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    --headline: 700;
    --title: 700;
    --body: 500;
    --footnote: 400;
    --caption: 500;

    --bgAccent: #f5f5f5;
    --bgDefault: #ffffff;
    --accent: #1F4EC7;
    --accentFiller: #1F4EC715;
    --onAccent: #ffffff;
    --warning: #C9241A;
    --warningFiller: #C9241A15;
    --primary: #000000;
    --secondary: #00000050;
    --tertiary: #00000030;
    --outlineStrong: #00000008;
    --outlineLight: #00000004;
}

body {
    min-height: -webkit-fill-available;
    height: 100%;
    width: 100%;
    /* background-color: var(--bgAccent); */
    padding: 0px;
    margin: 0px;
    /* width: 100vh; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

html {
    height: -webkit-fill-available;
    /* overflow: hidden; */
}

h1 { 
    font-weight: 700;
    font-size: 28px;
    color: var(--primary);
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: var(--primary);
}

h3 {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary);
}

h5 {
    font-weight: 500;
    font-size: 12px;
    color: var(--accent);
}

button {
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: var(--primary);
}

button:hover {
    background-color: var(--accentFiller);
}