.assignment {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-gap: 12px;

    width: 100%;
    height: max-content;
}

.assignment:hover {
    cursor: pointer;
}

.separator {
    height: auto;
    width: 2px;
    background-color: var(--bgAccent);
    border-radius: 1px;
    flex-direction: column;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 8px;
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.beige {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    background-color: var(--outlineStrong);
    border-radius: 4px;
    list-style: none;
}

.subjectText {
    color: var(--accent);
}

.header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 12px;
}

.section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
}

.timeSection {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.taskFile {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--accentFiller);
    color: var(--accent);
}

.submissionArea {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 60px;
    background-color: var(--accent);
}

.secondaryText {
    color: var(--secondary);
}

.primaryText {
    color: var(--accent);
}

.onPrimaryText {
    color: var(--onAccent);
}

.submitButton {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    background-color: var(--accent);
    border-radius: 8px;
}

.submitButton:hover {
    cursor: pointer;
}