.content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.scroll {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: scroll;

    height: 90vh;
    width: 100%;
    
    overflow: scroll;
    
    gap: 24px;
    box-sizing: border-box;
    /* padding: 4vw 0vw; */
}

.rightMenu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}