.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    gap: 24px;
    height: max-content;
    padding-bottom: 8vw;
}

.rightMenu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.calendar {
    background-color: var(--bgAccent);
    border-radius: 12px;
    border: none;
    padding: 16px;
}