.event { 
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-gap: 12px;

    width: 100%;
    height: max-content;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 46px;
    height: 100%;
}

.timeStart {
    color: var(--primary);
}

.timeEnd {
    color: var(--secondary);
}

.contentSeparator {
    height: auto;
    width: 2px;
    background-color: var(--bgAccent);
    border-radius: 1px;
    flex-direction: column;
}

.contentRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 8px;
}

.type {
    color: var(--accent);
    /* flex: none; */
}

.name {
    color: var(--primary);
    /* flex: none; */
}

.presenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.presenterPhoto {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: gray;
}

.presenterName {
    color: var(--primary);
    /* margin-left: 4px; */
}

.meetingLink {
    color: var(--secondary);
}