.modalHidden {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.modalActive {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: scroll;
    gap: 24px;
    cursor:auto;

    /* margin-top: 30vh; */
    width: 80vw;
    height: auto;
    max-height: 80vh;
    max-width: 1024px;
    /* max-width: 480px; */
    padding: 4vw;
    background-color: var(--bgDefault) ;
    border-radius: 12px;
    transition: all .3s ease-in-out;
}