.side-bar {
    height: 100vh;
    width: 282px;
    background-color: var(--bgAccent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar.inactive {
    width: 200px;
}

.top-section {
    height: auto;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    padding: 24px 16px;
}

.top-section .row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row #picture {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: var(--secondary);
}

.row .stack{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stack #name {
    font-weight: var(--body);
    font-size: 16px;
    color: var(--primary);
}

.stack #status {
    font-weight: var(--caption);
    font-size: 12px;
    color: var(--secondary);
}

.row #toggle-btn {
    height: 48px;
    width: 48px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}

.row #toggle-btn:hover {
    transition-duration: 0.3s;
    transform: rotate(90deg);
}


.middle-section {
    height: auto;
    width: 100%;
    padding: 0px;
}

.middle-section .row {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 16px;
}

.row #active {
    background-color: var(--accentFiller);
    color: var(--accent);
}

.row .container {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    transition: .2s ease-in-out 0s;
}

.row .container:hover{
    cursor: pointer;
    transform: scale(0.99);
    opacity: 0.8;
}

.container #icon {
    flex: 30%;
    display: grid;
    place-items: center;

}

.container #title {
    flex: 70%;
    display: grid;
    place-items: left;
    align-items: center;
}

.bottom-section {
    margin-top: auto;
    height: auto;
    width: 100%;
    padding: 16px 0px;
}

.bottom-section .row {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 16px;
}

.row .container {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    transition: .2s ease-in-out 0s;
}

.row .container:hover{
    cursor: pointer;
    transform: scale(0.99);
    opacity: 0.8;
}

.container #icon {
    flex: 30%;
    display: grid;
    place-items: center;

}

.container #title {
    flex: 70%;
    display: grid;
    place-items: left;
    align-items: center;
}