.selectors {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.select {
    height: 48px;
    width: auto;
    border: none;
    border-radius: 8px;
    background-color: var(--bgAccent);
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

.option:hover, .option:focus, .option:active {
    background: linear-gradient(#000000, #000000);
    background-color: #000000 !important; /* for IE */
    color: #ffed00 !important;
}

.option:checked {
    background: linear-gradient(#d6d6d6, #d6d6d6);
    background-color: #d6d6d6 !important; /* for IE */
    color: #000000 !important;
}

.select:selection {
    background-color: black;
}

.label:after {
    content:'\25BC';
    display:inline-block;
    color:#000;
    background-color:#fff;
    margin-left:-17px;   /* remove the damn :after space */
    pointer-events:none; /* let the click pass trough */
}