.sideBarWide {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 24px;
    
    width: 30vh;

    background-color: var(--bgAccent);
    padding: 16px 16px;
}

.sideBarNarrow {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 24px;
    
    background-color: var(--bgAccent);
    padding: 16px 16px;
}

.topSection {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;

    padding: 12px 10px;
}

.middleSection {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.bottomSection {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: auto;
}

.defaultButton {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 16px;

    height: 48px;
    width: 100%;

    text-decoration: none;
    color: var(--secondary);
    border-radius: 8px;
    padding: 0 16px;
}

.defaultButton:hover {
    background-color: var(--outlineStrong);
}

.defaultButtonActive {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 16px;

    height: 48px;
    width: 100%;

    text-decoration: none;
    color: var(--accent);
    border-radius: 8px;
    padding: 0 16px;
}

.defaultButtonActive:hover {
    background-color: var(--accentFiller);
}

.redButton {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 16px;

    height: 48px;
    width: 100%;

    text-decoration: none;
    color: var(--warning);
    border-radius: 8px;
    padding: 0 16px;
}

.redButton:hover {
    background-color: var(--warningFiller);;
}

.account {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    gap: 12px;

    width: 100%;
}

.accountInfo {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.photo {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: aqua;
}

.title {
    color: inherit;
}