.scrollWide {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: scroll;

    height: 90vh;
    width: 100%;
    
    overflow: scroll;
    padding: 0 4vw 6vw 4vw;
    
    gap: 24px;
    box-sizing: border-box;
}

.scrollNarrow {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    overflow: scroll;

    height: 90vh;
    width: 100%;
    
    overflow: scroll;
    padding: 0 4vw 6vw 4vw;
    
    gap: 24px;
    box-sizing: border-box;
}

 .navbar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 2vw;

    width: 100%;

    padding: 3.3vw 4vw 2vw;
}

.headline {
    font-weight: var(--headline);
    color: var(--secondary);
    font-size: 28px;
    box-sizing: content-box;
    text-decoration: none;
}

.headline:hover, .headline:visited, .headline:link, .headline:active {
    text-decoration: none;
    color: var(--secondary);
} 

.headlineActive {
    font-weight: var(--headline);
    color: var(--primary);
    font-size: 28px;
    box-sizing: content-box;
    text-decoration: none;
}

.headlineActive:hover, .headlineActive:visited, .headlineActive:link, .headlineActive:active {
    text-decoration: none;
    color: var(--primary);
}