.scroll {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 48px;

    padding: 4vw 4vw 8vw 4vw;
    margin-bottom: auto;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;

}

.photo {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    pointer-events: none;
}

.button {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width:fit-content;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color: var(--bgAccent);
    padding: 0 16px;
    gap: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--primary);
}

.infoSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}